In [2]:
import pandas as pd

file = "budget_data_1.csv"

df_original = pd.read_csv(file)
df_original.head()

     Date  Revenue
0  12-Oct  1154293
1  12-Nov   885773
2  12-Dec  -448704
3  13-Jan   563679
4  13-Feb   555394

NameError: name 'row' is not defined